body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: sans-serif;
    color: #515a6b;
    background: #ffffff;
    /* bg-mediumgray */
}

a,
#loginError a {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: #877b7b;
}

button,
.pagination a {
    font-size: 15px;
    border: solid 1px blue;
    /* border-button */
    color: blue;
    fill: blue;
    border-radius: 4px;
    padding: 0.2em 0.8em;
    margin: 0;
    background-color: #e9e9ea;
    /* bg-lightgray */
    cursor: pointer;
}

button.inactive,
.pagination a.inactive,
#action a[href="#"] {
    color: #877b7b;
    fill: #877b7b;
    border-color: #877b7b;
    /* border-inactive */
    cursor: default;
    background: #d8dbde;
    /* bg-inactive */
}

#action a[href="#"] {
    background: none;
}

svg {
    width: 15px;
    height: auto;
    vertical-align: text-top;
}

.pagination {
    text-align: center;
    border-bottom: solid 1px #b4b6b9;
    /* border-light */
    margin-bottom: 60px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-auto-columns: 60px;
    justify-content: center;
}

.pagination:last-child {
    margin-bottom: 40px;
    margin-top: 40px;
}

.pagination a {
    line-height: 30px;
    height: 30px;
    margin-bottom: -20px;
}

#loginError {
    padding: 3em;
}

#like.inactive,
#like:hover {
    color: rgb(0, 144, 240);
    border-color: rgb(0, 144, 240);
    background-color: rgba(0, 144, 240, 0.25);
}

#bookmark.inactive,
#bookmark:hover {
    color: rgb(255, 64, 96);
    background-color: rgba(255, 64, 96, 0.25);
    border-color: rgb(255, 64, 96);
}

#like,
#bookmark {
    color: #877b7b;
    border-color: #877b7b;
}

header {
    background: white;
    border-bottom: solid 1px #b4b6b9;
    /* border-light */
    padding: 20px 40px;
}

#menuToggle {
    display: none;
    font-weight: bold;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, auto) 1fr auto auto;
    grid-gap: 20px;
}

header li:first-child {
    font-weight: bold;
}

header li.spacer {
    justify-self: end;
}

header a,
header a:visited {
    color: #515a6b;
    vertical-align: sub;
}

#minip {
    margin: 40px;
    display: grid;
}

#gallery {
    text-align: center;
}

#gallery div {
    margin-bottom: 40px;
    position: relative;
}

#gallery img {
    background: #b0b7c0;
    /* bg-darkgray */
    height: auto;
    /* min-width: 200px; */
    min-height: 200px;
    max-width: 1000px;
    /* max-height: 750px; */
}

#gallery.fitImages img {
    max-height: 86vh;
}

#gallery .error img {
    background: #de8e7c;
    /* washed red */
}

#gallery .error b {
    position: absolute;
    top: 50%;
    text-align: center;
    background: red;
    color: white;
    padding: 12px;
    width: 300px;
    left: calc(50% - 150px);
}

#ugoira img {
    max-width: 600px;
    max-height: 600px;
}

#userInfo {
    overflow: hidden;
}

#region,
#bookmarks,
#social,
#comment,
#mini-title,
#description,
#tags,
#stats {
    border-bottom: solid 1px #b4b6b9;
    /* border-light */
    padding: 12px 2px;
    margin-bottom: 3px;
    overflow-wrap: anywhere;
}

#mini-title {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    grid-column-gap: 10px;
    align-items: start;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#mini-title b,
h2 {
    font-size: 30px;
}

#mini-title button {
    height: 30px;
}

#tags {
    word-break: keep-all;
}

#stats {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
}

#stats span {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: end;
    grid-gap: 8px;
    fill: #515a6b;
}

#stats svg {
    width: auto;
    height: 18px;
    color: inherit;
}

#stats u {
    text-decoration: none;
}

#profile {
    grid-area: profile;
    position: fixed;
    z-index: 2;
    width: 210px;
    overflow-wrap: break-word;
    fill: #515a6b;
    text-align: center;
    max-height: 70vh;
    overflow: hidden;
    display: grid;
    grid-row-gap: 10px;
    align-items: start;
    grid-template-rows: auto 1fr;
    justify-items: center;
}

#profile.scroll {
    overflow: auto;
    padding-right: 30px;
}

#avatar {
    width: 210px;
    overflow-wrap: break-word;
    display: grid;
    grid-gap: 10px;
}

#avatarPic a {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: #d8dbde;
    /* bg-inactive */
}

#avatarPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#avatarUsername {
    font-size: 30px;
    font-weight: bold;
}

#follow {
    min-width: 100px;
}

#message {
    margin-left: 10px;
}

#social {
    padding-bottom: 2px;
    /* was 12 */
}

#social a {
    display: inline-block;
    text-transform: capitalize;
    margin-right: 10px;
    padding-bottom: 10px;
    /* becomes 12 again */
}

#list {
    grid-area: list;
}

#list ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.current_img .illust {
    background-color: rgba(0, 0, 0, 0.5);
}

#list ul li a:first-child span {
    border-radius: 10px;
}

a:visited img {
    opacity: 0.25;
}

#list li {
    position: relative;
}

#userGallery li:first-child {
    margin-left: 10px;
}

#userGallery li:last-child {
    margin-right: 10px;
}

.illust {
    background: rgba(0, 0, 0, 0.75);
}

.illust:visited {
    background-color: white;
}

#list li .illust span {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
}

#list .illust img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#list .by {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

#list .by span {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#list .by img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#list .by b {}

#list .bookmarked {
    color: rgb(255, 64, 96);
    bottom: 0px;
    padding: 0px;
    right: 0px;
    background: none;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 35px;
}

#list .r18, #list .r18G {
    left: 0px;
    text-align: center;
    right: 125px;
    padding: 2px 0px;
    top: 0px;
    background-color: rgb(255, 64, 96);
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    font-family: "win-bug-omega", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 10px;
    font-weight: 700;
    width: 40px;
    font-style: normal;
}

.r18G {
    background-color: rgb(134, 82, 23) !important;
    border: solid 1px white;
}

#list .ugoira {
    font-size: 80px;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(0, 144, 240);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    padding: 0px;
    text-align: center;
}

.current_img .illust-img {
    border: 2px blue solid;
}

#tag-list {
    width: min-content;
    margin: 20px;
    padding: 0px;
    overflow-y: scroll;
    height: 300px;
    padding: 20px;
}

#tag-search {
    margin: 20px 20px auto;
    width: calc(100% - 40px);
    box-sizing: border-box;
}


#tag-list .prof-tag {
    margin: 10px 0px;
}

/* The Modal (background) */
#tag-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10 !important;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
#modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: min-content !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow-y: hidden;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

#userGallery {
    margin: auto;
    overflow: visible;
    max-width: 1380px;
    padding-top: 5px;
    position: relative;
}

#userGallery li {
    display: block;
    width: 200px;
    float: left;
}

#userGallery img {
    max-height: 100%;
}

#gallery-right-arrow:hover,
#gallery-left-arrow:hover {
    cursor: pointer;
}

#gallery-right-arrow,
#gallery-left-arrow {
    font-size: 60px;
    z-index: 5;
    top: 75px;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

#gallery-left-arrow {
    left: -70px;
}

#gallery-right-arrow {
    right: -70px;
}

#userGallery div:nth-child(2) {
    position: absolute;
    top: 0px;
    width: 100%;
}

#userGallery .by {
    display: none;
}

#userGallery #list {
    overflow-x: scroll;
}

#userGallery #list ul {
    display: inline-flex;
    grid-gap: 15px;
}

#list i.count {
    top: 0;
    right: 0;
    background: rgb(0, 144, 240);
    color: white !important;
    display: block;
    border-radius: 5px;
    vertical-align: top;
    padding: 2px 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    margin: 5px 5px;
}

.illust-img {
    background: inherit;
    position: absolute !important;
    top: 0px;
    z-index: 3;
    background-blend-mode: screen;
    background-size: contain;
}

#list i {
    position: absolute;
    z-index: 5;
    pointer-events: none;
}

/* pages */
#illustPage {}

#illustPage #minip {
    margin-top: 20px;
}

#illustPage #avatar {
    position: fixed;
    z-index: 2;
    bottom: 40px;
    left: 40px;
}

#illustPage #avatarPic a {
    margin: 0;
}

#illustInfo {
    position: relative;
    padding-left: 270px;
    padding-right: 270px;
}

#recommend {
    margin-top: 40px;
}

#recommend #list ul {
    grid-gap: 25px;
}

#getMoreRecommend {
    margin-top: 40px;
}

#memberPage {}

#memberPage #minip {
    grid-template-areas: 'profile list';
    grid-template-columns: 210px 1fr;
    grid-gap: 40px;
}


.prof-tag:nth-child(7n+1) {
    background: #D7FFA533;
}

.prof-tag:nth-child(7n+2) {
    background: #BBC6FF33;
}

.prof-tag:nth-child(7n+3) {
    background: #FF90A733;
}

.prof-tag:nth-child(7n+4) {
    background: #9FFFE633;
}

.prof-tag:nth-child(7n+5) {
    background: #FFCA9F33;
}

.prof-tag:nth-child(7n+6) {
    background: #B1F0FF33;
}

.prof-tag:nth-child(7n+7) {
    background: #dcb5ff33;
}

.tag-trans,
.tag-original {
    font-size: 12px;
    overflow: hidden;
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#content {
    grid-area: list;
}

#prof-tags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.prof-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #353535;
    padding: 0px 10px;
    max-width: 150px;
    cursor: pointer;
    border: #353535 1px solid;
}

#prof-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#tag-filter {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 2px solid;
    border-radius: 20px;
    cursor: pointer;
}

#tag-filter i {
    font-size: 40px;
}

.prof-tag.current_tag {
    border-color: red;
    background: #ffbebe !important;
    filter: drop-shadow(2px 2px 2px #a2a2a2a2) drop-shadow(-2px 2px 2px #a2a2a2a2) drop-shadow(2px -2px 2px #a2a2a2a2);
}

#fanbox {
    position: relative;
}

#fanbox img {
    height: 280px;
    width: 520px;
    border-radius: 10px;
    border: rgb(255, 187, 40) 3px solid;
}

#fanbox svg {
    width: 150px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    filter: drop-shadow(2px 2px 3px white) drop-shadow(-2px -2px 3px white) drop-shadow(2px -2px 3px white) drop-shadow(-2px 2px 3px white);
}

#userInfo {
    width: 210px;
    text-align: left;
}

#memberPage #more {
    display: block;
    border-top: solid 1px #877b7b;
    /* border-dark */
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #cdd1d7;
    /* bg-mediumgray */
}

/* mediaqueries */
@media only screen and (max-width: 1110px) {
    #illustInfo {
        padding-right: 0;
    }

    #list ul,
    #recommend #list ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 860px) {
    header {
        padding: 0;
    }

    header a {
        display: block;
        padding: 14px 10px;
        border-bottom: solid 1px #edeef2;
        /* border-menu */
    }

    header ul {
        display: none;
    }

    header ul.show {
        display: block;
    }

    header li:first-child {
        font-weight: normal;
    }

    #menuToggle {
        display: block;
    }

    .pagination {
        grid-gap: 10px;
    }

    #minip {
        margin: 40px 10px 40px 10px;
    }

    #illustPage #minip {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #illustPage #avatar {
        position: unset;
        grid-row: 2/3;
        width: auto;
        grid-template-areas: 'pic username'
            'pic action';
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        margin-bottom: 40px;
    }

    #illustPage #avatarPic {
        grid-area: pic;
    }

    #illustPage #avatarUsername {
        grid-area: username;
        font-size: 28px;
        align-self: end;
    }

    #illustPage #avatarAction {
        grid-area: action;
    }

    #gallery {
        grid-row: 1/2;
    }

    #illustInfo {
        padding-left: 0;
        padding-bottom: 40px;
        grid-row: 3/4;
    }

    #mini-title {
        display: block;
    }

    #mini-title b {
        display: block;
        margin-bottom: 0.4em;
    }

    #mini-title button {
        margin-right: 10px;
    }

    #stats {
        display: block;
    }

    #stats span {
        display: inline-grid;
        margin-right: 8px;
    }

    #memberPage #minip {
        display: block;
    }

    #profile {
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        max-height: 66vh;
    }

    #profile.scroll {
        overflow: visible;
        padding-right: 0;
        max-height: unset;
    }
}

@media only screen and (max-width: 640px) {
    #list ul {
        grid-template-columns: 1fr;
    }

    #recommend #list ul {
        grid-template-columns: 1fr 1fr;
    }
}